<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诗词溯源</title>
    <style>
        #background {
            width: 100%;
            height: 572px;
        }


        a:link {
            text-decoration: none;
            color: black;
        }

        #poems_list {
            position: absolute;
            top: 0;
            font-size: 23px;
            font-family: 华文仿宋;
            width: 100%;
            text-align: center;
        }

    </style>
</head>
{% load staticfiles %}
<body style="margin: 0">
<img id="background" src="{% static "background2.png" %}">
<div id="poems_list">
    <form style="    width: 390px;
    position: relative;
    left: 35%;">
        <ul>
            {% for poem in poems%}
            <li style="list-style: none;width: 300px;border: 1px #00000026 solid;margin: 2px;border-radius: 41px;">
                <a href="{{poem.id}}">{{poem.title}}</a>
            </li>
            {%endfor%}
        </ul>
    </form>
</div>
</body>
</html>